body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1b1b1b;
    color: #f0f0f0;
}

/* Encabezado */
header{
    width: 100%;
    background-color: #343434;
    border-bottom: solid 1px #858585;
}

.logo{
    text-decoration: none;
    font-weight: 1000;
    font-size: 20px;
    padding-left: 10px;
    color: #cdcdcd;
    transition: .3s ease all;
}

.nav-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ul-menu {
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: space-around; /* Distribuye los elementos de manera uniforme */
}

.li-menu {
    padding: 0 10px;
    flex: 1; /* Ocupa una porción igual del espacio disponible */
}

.ul-menu .li-menu .a-menu{
    text-decoration: none;
    color: white;
}

.ul-menu .li-menu .a-menu:hover{
    background-color: white;
    color: #1b1b1b;
    padding: 10px;
    border: solid 1px #858585;
    transition: .3s ease all;
}

img{
    width: 200px;
    height: 200px;
    padding-left: 20px;
}

.box-container-1 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.box-1{
    width: 250px;
    height: 250px;
    margin: 5px;
}

.div-1{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.div-2{
    width: 250px;
    height: 250px;
    margin: 5px;
}

div a{
    justify-content: center;
}

.p-1 {
    text-align: center;
    letter-spacing: 1px;
    font-weight: 100;
    font-size: 11px;
    height: 25px;
    border: 1px solid #858585;
    background-color: #343434;
    color: #ffffff;
    border-radius: 50px;
    padding-top: 10px;
    transition: .3s ease all;
}

.p-1:hover {
    background-color: #858585;
}

.boton {
    text-decoration: none;
    align-items: center;
    width: 90%;
    margin: 0%;
}


/* Pie de página */
footer {
    width: 100%;
    border-top: 1px solid #858585;
    background-color: #343434;
}

.container_footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1000px;
    margin: auto;
}

.box_footer {
    display: flex;
    flex-direction: column;
    padding: 40px;
    flex: 1;
    min-width: 200px; /* Evita que los elementos sean demasiado estrechos en pantallas pequeñas */
}

.box_footer h2 {
    margin-bottom: 30px;
    color: white;
    font-weight: 700;
}

.box_footer .a-footer {
    margin-top: 10px;
    font-weight: 100;
    color: white;
    text-decoration: none;
}

.box_footer .a-footer:hover {
    opacity: 0.8;
}

.box_footer .a-footer .fab {
    font-size: 20px;
}

.box_copyright {
    max-width: 1000px;
    margin: auto;
    text-align: center;
    padding: 8px 40px;
}

.box_copyright p {
    margin-top: 20px;
    color: white;
}

.box_copyright hr {
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}

