body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2d2d2d;
    color: #f0f0f0;
}

/* Encabezado */
header{
    width: 100%;
    background-color: #343434;
    border-bottom: solid 1px #858585;
}

.logo{
    text-decoration: none;
    font-weight: 1000;
    font-size: 20px;
    padding-left: 10px;
    color: #cdcdcd;
    transition: .3s ease all;
}

.nav-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ul-menu {
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: space-around; /* Distribuye los elementos de manera uniforme */
}

.li-menu {
    padding: 0 10px;
    flex: 1; /* Ocupa una porción igual del espacio disponible */
}

.ul-menu .li-menu .a-menu{
    text-decoration: none;
    color: white;
}

.ul-menu .li-menu .a-menu:hover{
    background-color: white;
    color: #1b1b1b;
    padding: 10px;
    border: solid 1px #858585;
    transition: .3s ease all;
}

/* Contenedor principal */
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
article {
    margin-bottom: 40px;
}

.aside-1 {
    top: 20px; /* Ajusta esta distancia según tus necesidades */
    float: right;
    width: 25%;
}

.aside-2 {
    position: -webkit-sticky;
    position: sticky;
    top: 0; /* Ajusta esta distancia según tus necesidades */
    float: right;
    width: 25%;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

ul li a{
    color: white;
    list-style: none;
    text-decoration: none;
}

ul li {
    margin-bottom: 10px;
}

h1 {
    font-size: 2.5em;
}

.metadata {
    color: #888;
}

.contenido {
    float: left;
    width: 75%;
    height: auto;
    font-size: 20px;
    line-height: 1.5;
    padding-right: 20px;
}

/* Pie de página */
footer {
    clear: both;
    border-top: 1px solid #858585;
    background-color: #343434;
    padding: 20px;
    text-align: center;
    color: white;
}

.container_footer {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: auto;
}

.box_footer {
    display: flex;
    flex-direction: column;
    padding: 40px;
    flex: 1;
    min-width: 200px; /* Evita que los elementos sean demasiado estrechos en pantallas pequeñas */
}

.box_footer h2 {
    margin-bottom: 30px;
    color: white;
    font-weight: 700;
}

.box_footer .a-footer {
    margin-top: 10px;
    font-weight: 100;
    color: white;
    text-decoration: none;
}

.box_footer .a-footer:hover {
    opacity: 0.8;
}

.box_footer .a-footer .fab {
    font-size: 20px;
}

.box_copyright {
    max-width: 1000px;
    margin: auto;
    text-align: center;
    padding: 8px 40px;
}

.box_copyright p {
    margin-top: 20px;
    color: white;
}

.box_copyright hr {
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}

#goTopButton {
    display: none; /* Inicialmente oculto */
    position: fixed; /* Fijar en la ventana del navegador */
    bottom: 20px; /* Distancia desde la parte inferior */
    right: 20px; /* Distancia desde la derecha */
    padding: 10px 20px;
    background-color: #343434;
    color: #fff;
    border: 1px solid #858585;
    border-radius: 5px;
    cursor: pointer;
}

